.game-log-display-component {
    width: 549px;
    height: 173px;
    flex-shrink: 0;

    /* Style */
    border-radius: 6px;
    opacity: 0.3;
    background: rgba(217, 217, 217, 0.20);
    margin: 0 auto;
}