.intro-component{
    width: 90%;
    margin: 0 auto;
}

.tictactoe-description {
    /*Style*/

    /*Layout*/
    width: auto;
    flex-shrink: 0;
    padding: 1rem 0rem;
    border-radius: 10px;


    /*Typography*/
    color: #FFF;
    text-align: justify;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;

}

.wiki-link{
    text-decoration: none;
    border-bottom: 1px solid white;
    padding: .1rem .2rem .1rem;
}



@media (max-width: 430px) {
    .tictactoe-description p {
        font-size: 1rem;
    }
}