.game-board {
    /* padding: 2rem; */
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100%;
    /* display: block; */

    .row {
        /* border: 1px solid red; */
        /* display: flex; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */

        .square {
            background-color: #3a3a3a;
            cursor: pointer;
            border: none;
            box-shadow: 5px 5px 5px #00000040;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: .4rem;
            width: 120px;
            height: 120px;
            transition: background-color 200ms ease;

            .square-symbol{
                font-weight: 200;
                font-size: 6rem;
                color: blanchedalmond;
                text-shadow: 5px 5px 5px #00000040;
            }
        }
        .square:hover{
            background-color: #333;
        }
    }


}