.player-wrapper{
    display: flex; 
    /* gap: 1rem; */
    width: 50%;
    padding: .5rem;
    justify-content: center;
    /* box-shadow: 4px 4px 4px rgba(5, 5, 5, 0.5); */
    align-items: center;
    .player-name{
        padding-left: 8px;
        color: antiquewhite;

        width: 110px;
        text-transform: uppercase;
        font-weight: 100;
    }
    .player-symbol{
        margin: 0 1rem;
        /* border: 1px solid red; */
        border-radius: 5px;
        font-weight: 100;
    }
    button{
        background-color: transparent;
        border: none;
        font-size: .9rem;
        cursor: pointer;
        color: blanchedalmond;
    }
}

.player-wrapper.active{
    border: 1px solid blanchedalmond;
    animation: blink 1.5s ease infinite;

    .edit-btn{
        opacity: .1;
    }
}

.name-input{
    background-color: rgb(37, 37, 37);
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    width: 110px;
    font-weight: 100;
    text-transform: uppercase;
    border: 1px solid blanchedalmond;
    animation: blink 2s infinite ease-in-out ;
}




@keyframes blink {
    0%{
        opacity: 1;
        color: #fff;
    }
    50%{
        opacity: .5;
    }
    100%
    {
        opacity: 1;
        color: antiquewhite;
    }
}