.player-info-display-component {
    display: flex;
    justify-content:center;
    align-items: end;
    gap: 2rem;
    min-height: 6rem;

    .player-info-div {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: fit-content;

        & .player-p {
            margin-left: .8rem;
            font-size: 1.2rem;
            font-weight: 300;
        }

        & .wrap {
            width: fit-content;
            margin: 5px auto 0;
            display: flex;
            gap: .5rem;

            & p {
                font-size: 1.6rem;
                padding: .2rem .8rem;
                font-weight: 200;
            }

            & .player-symbol {
                background-color: #FFFFFF30;
            }
        }

    }

    .player-info-div.active {
        border: 1px solid #FFFFFF30;
        box-shadow: 2px 2px 2px #FFFFFF30;
    }
}



.winner-container {
    min-height: 6rem;

    .winner-message {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 200;
    }

    .btns-wrap {
        display: flex;
        margin: 1rem auto 0;
        width: fit-content;
        align-items: center;
        gap: .6rem;
        font-size: 1.2rem;
        font-weight: 200;

        & button {
            background-color: #FFFFFF10;
            padding: .4rem 1rem;
            border: none;
            border-radius: 8px;
            outline: none;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 200ms ease;
            font-weight: 200;

            &:hover {
                background-color: #FFFFFF20;
            }
        }

    }
}