.title{
    color:blanchedalmond;
    font-size: 3rem;
    text-align: center;
    font-weight:100;
    text-transform: capitalize;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.game-box{
    position: relative;
    max-width: 90%;
    margin: 1rem auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 700px;
    max-height: 80vh;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 8px rgba(32, 32, 32, 0.8);

    h1{
        opacity: .7;
        font-size: 2rem;
        font-weight: 100;
        color: blanchedalmond;
    }


    
    
}

.players-box{
    /* border-bottom: 1px solid blanchedalmond; */
    /* box-shadow: 1px 1px 5px  blanchedalmond; */
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 7rem;
    font-size: 1.2rem;
   
}
