.player-names-component {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: 50px auto 0;

}



.input-wrap {
    /* Layout */
    display: flex;
    flex-direction: column;

    & .player-name-label {

        /* Typography */
        color: #FFF;
        text-align: center;
        margin-bottom: 15px;
        font-family: Outfit;
        font-size: 20px;
        font-style: italic;
        font-weight: 200;
        line-height: normal;
    }


    & .player-name-input {
        /* Typography */
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-align: center;

        max-width: 250px;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.178);
        padding: .8rem;
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.10);
    }
}


.symbol-wrap {

    & .player-symbol-label {

        /* Typography */
        color: #FFF;
        text-align: center;
        margin-bottom: 15px;
        font-family: Outfit;
        font-size: 20px;
        font-style: italic;
        font-weight: 200;
        line-height: normal;
    }

    & .player-symbol-p {

        /* Typography */
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-align: center;

        width: 60px;
        border: none;
        outline: none;
        padding: .8rem;
        border-radius: 7px;
        background: rgba(255, 255, 255, 0.10);
    }
}




@media (max-width: 750px) {
    .player-names-component {
        flex-wrap: wrap;
    }

    .symbol-wrap {
        display: none;
    }

    .input-wrap {
        width: 100%;
    }

    input {
        margin: 0 auto;
    }
}