.small-text-box-component {
    /*Layout*/
    width: fit-content;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;


    /*Style*/
    background: rgba(105, 105, 105, 0.1);
    letter-spacing: .5px;

    /*Typography*/
    color: #FFF;
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}