.game-mode-component{
    /*Layout*/
    width: 90%;
    margin: 0 auto;
}

.container {
    /*Layout*/
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    gap: 4rem;





    & .mode-select-button {
        /*Layout*/
        display: flex;
        flex-direction: column;

        /*Style*/
        cursor: pointer;
        background-color: transparent;
        border: none;


        & img {
            /*Layout*/
            width: 350px;
            margin-bottom: 10px;
            
            /*Style*/
            transition: opacity 300ms ease;
            opacity: .5;
        }

        & p {
            /*Style*/
            transition: background-color 300ms ease, opacity 300ms ease;
            opacity: .7;
            border-radius: 6px;

            /*Layout*/
            padding: 14px 1.5rem;
            margin: 0 auto;
            
            /*Typography*/
            letter-spacing: .5px;
            font-size: 1.2rem;
            font-weight: 300;
        }
    }
}

.mode-select-button:hover{

    img{
        opacity: .7;
    }
    p{
        opacity: 1;

    }

}