.pvp-component {
    width: 90%;
    margin: 0 auto;
    /*....component*/


    .back-to-menu-btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #55555520;
        padding: .4rem .4rem;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        font-weight: 200;
        cursor: pointer;

    }
}

.pvp-image {
    display: block;
    margin: 0 auto;

}

.start-game-btn {
    /* Typography */
    font-size: 22px;
    font-weight: 200;
    letter-spacing: .5px;
    transition: opacity 300ms ease;

    opacity: .5;
    /* Layout */
    margin: 3rem auto 0;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: transparent;

    &:hover {
        opacity: .8;
    }
}

